.form {
    text-align: center;
    padding: 100px 0;
}

.form__label-input {
    position: relative;
    display: block;
}

.form__input {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: #D6D6D6;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
    padding: 15px;
}

.form__btn {
    background: #101010;
    box-shadow: 0px 0px 20px rgba(67, 216, 84, 0.25);
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px;
    width: 100px;
}
