.about__site {
    padding: 40px 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 15px 30px;
    margin-bottom: 33px;
}

.about__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
    margin: 0;
    margin-bottom: 15px;
}

.about__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin: 0;
    margin-left: 15px;
}